.categories__text{
    font-family: SF UI Display;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #2F3854;
	margin: 0 0 0 10px;
}

.categories__block{
	width: 120px;
	height: 95.25px;
	background: #FFFFFF;
	box-shadow: 0px 0px 33.1778px rgba(166, 189, 219, 0.4);
	border-radius: 10px;
	margin-right: 13px;
	cursor: pointer;
}
.categories__block:hover{
	background: #0036F5;
	transition-duration: 500ms;
}
.categories__block:hover .categories__text{
	color: #FFFFFF;
	transition-duration: 500ms;
}
.categories__block:hover .categories__img{
	background: #FFFFFF;
	transition-duration: 500ms;
}
.categories__block-active {
	background: #0036F5;
	transition-duration: 500ms;
}
.categories__block-active .categories__text{
	color: #FFFFFF;
	transition-duration: 500ms;
}
.categories__block-active .categories__img{
	background: #FFFFFF;
	transition-duration: 500ms;
}
.categories__img{
	width: 22px;
	height: 22px;
	margin: 12px 0 17px 10px;
}
.categories__img img{
	width: 100%;
	height: 100%;
}
.categories{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}